{% extends 'admin/model/details.html' %}

{% block body %}
{{ super() }}

<div class="row">
    <div class="span5">
        {% if model.can_approve(): %}
        <div class="well" style="max-width: 400px;">
            <form action="{{ url_for('.approve', id=get_pk_value(model)) }}" method="POST">
                <button class="btn btn-large btn-block btn-primary" onclick="return confirm('Approve?')" type="submit">
                    Approve
                </button>
            </form>
        </div>
        {% endif %}

        {% if model.can_decline(): %}
        <div class="well" style="max-width: 400px;">
            <form action="{{ url_for('.decline', id=get_pk_value(model)) }}" method="POST">
                <fieldset>
                    <label for="decline-reason">Decline Reason</label>
                    <textarea rows="6" placeholder="Decline Reason" id="decline-reason"
                              name="decline_reason"></textarea>

                    <p>
                        <button class="btn btn-danger btn-large btn-block"
                                data-url="{{ url_for('.decline', id=get_pk_value(model))}}"
                                onclick="return confirm('Decline?')" type="submit">Decline
                        </button>
                    </p>
                </fieldset>
            </form>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
